* {
    /*border: 1px solid red;*/
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type:none;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.mainTitle {
    margin: 40px 0 0 0;
    font-size: 60px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 30px;
}

button {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.tab {
    padding: 20px;
    min-width: 50%;
    background-color: hsl(0deg 0% 94% / 77%);
    border-radius: 15px;
}

.buttonsDiv {
    margin-bottom: 25px;
    min-width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}