html {
    font-size: 20px;
}

* {
    /*border: 1px solid red;*/
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 10px 0;
}

ul {
    list-style-type:none;
}

footer{
    padding: 1em;
}

#footerLink {
    padding-left: 5px;
}

.mainTitle {
    font-size: 60px;
    margin: 20px 0;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 30px;
}

button {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.tab {
    padding: 20px;
    min-width: 50%;
    background-color: hsl(0deg 0% 94% / 77%);
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonsDiv {
    margin-bottom: 25px;
    min-width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    width: 80%;
    align-items: center;
}

.imgHome {
    width: 50%;
    border-radius: 5px;
    margin: 1rem;
}

.iconImg {
    width: 4rem;
    border-radius: 5px;
}

.tile {
    display: flex;
    min-width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dfd4c470;
    border-radius: 10px;
    margin: 0.25rem;
    font-size: 2rem;
    padding: 1rem;
}

.prodPicture {
    font-size: 1rem;
    margin: 1rem 0;
}

.tilesContainer {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}